{%load static%} {% extends 'base.html' %}{%load static%} {% block content %}
<div class="container my-4">
  {% for profile in profiles %}
  <!-- CONTACT LIST -->
  <section class="contacts-library">
    <ul class="contacts-list">
      <a href="https://api.whatsapp.com/send?phone={{profile.phone_number}}">
        <div class="contact-section">
          <li class="list__item">
            <p class="contact-name">+228 {{profile.phone_number}}</p>
            <p class="relationship">Whatsapp</p>
          </li>
          <li class="list__item">
            <i class="fab fa-whatsapp text"></i>
          </li>
        </div>
      </a>
      <hr />
    </ul>
  </section>

  <!-- CONTACT LIST -->
  <section class="contacts-library">
    <ul class="contacts-list">
      <a href="tel:{{profile.phone_number}}">
        <div class="contact-section">
          <li class="list__item">
            <p class="contact-name">+228 {{profile.phone_number}}</p>
            <p class="relationship">Appeler</p>
          </li>
          <li class="list__item">
            <i class="fas fa-phone"></i>
          </li>
        </div>
      </a>
      <hr />
    </ul>
  </section>

  <!-- CONTACT LIST -->
  <section class="contacts-library">
    <ul class="contacts-list">
      <a href="sms:{{profile.phone_number}}">
        <div class="contact-section">
          <li class="list__item">
            <p class="contact-name">Envoyer un message</p>
            <p class="relationship">SMS</p>
          </li>
          <li class="list__item">
            <i class="fas fa-sms text"></i>
          </li>
        </div>
      </a>
      <hr />
    </ul>
  </section>

  <!-- CONTACT LIST -->
  <section class="contacts-library">
    <ul class="contacts-list">
      <a href="mailto:{{ profile.user.email}}">
        <div class="contact-section">
          <li class="list__item">
            <p class="contact-name">{{ profile.user.email}}</p>
            <p class="relationship">Email</p>
          </li>
          <li class="list__item">
            <i class="fas fa-envelope"></i>
          </li>
        </div>
      </a>
      <hr />
    </ul>
  </section>

  <!-- CONTACT LIST -->
  <section class="contacts-library">
    <ul class="contacts-list">
      <a href="">
        <div class="contact-section">
          <li class="list__item">
            <p class="contact-name">{{profile.address}}</p>
            <p class="relationship">Adresse</p>
          </li>
          <li class="list__item">
            <i class="fas fa-map-marker-alt"></i>
          </li>
        </div>
      </a>
      <hr />
    </ul>
  </section>
  {% endfor %}
</div>
{% endblock %}
